# Byte-compiled / optimized / DLL files
__pycache__/
EOSWebApp/__pycache__/*
EOSWebApp/imageProcessing/__pycache__/*
ImageProcessing/__pycache__/*
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEA
EOSWebApp/.idea/*
ImageProcessing/.idea/*

# Image 
EOSWebApp/media/*
ImageProcessing/data/*
