#image {
    width: 100%;
}

.thumbnail {
    width: 100%;
    padding: 10px 0;
}

.center {
    margin: 0 auto;
    width: 80%;
}

ul {
    padding: 0;
}

.picturepanel {
    width: -moz-fit-content;
    /*{#            height: fit-content;#}{#  width: fit-content;#} */
    max-width: 100%;
    /*{#  max-height: 50%;#}*/
    border: 2px solid silver;
    overflow: auto;
    /*{#  position: absolute;#}{#            top: 50%;#}*/
}

.picturepanel canvas {
    display: block;
}

.toolbar > * {
    /*margin: 10px auto;*/
    margin: auto;
    justify-content: center;
    display: inline-block;
}

canvas {
    display: block;
    /*margin: 50px auto;*/
    margin: auto;

}
#wrap{
    width:100%;
}
#canvas-wrapper {
    /*margin-top: 50px;*/
    position: relative;
    /*{#              width: 100%;#}*/
     background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.panel-heading h4 {
    font-size: 1rem !important;
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 16px;
}