canvas {
    display: block;
    /*margin: 50px auto;*/
    margin: auto;

}

#canvas-wrapper {
    /*margin-top: 50px;*/
    position: relative;
    /*{#              width: 100%;#}*/
     background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
