{% extends 'base.html' %}
{% block title %}Update Image Info{% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_image_scale.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-6">

                <div id="canvas-wrapper">
                    <canvas id="scale-canvas"></canvas>
                </div>
                <img class="img-responsive centered" id="scale-canvas-img" style="display: none;"
                     src="data:image/jpeg;charset=utf-8;base64,{{ image_data }}">
                <input id="image_id" hidden value="{{ image_id }}">

                <div class="row" style="margin-top: 30px;">
                    <h4 class="text-center">Set image scale </h4>
                    <div class="form-group">
                        <div class="col-lg-3">
                            <label class="control-label"> Image distance (pixels): </label>
                        </div>
                        <div class="col-lg-2">
                            <input id="pixel-dist" type="text" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label"> Real distance (<span>&#181;</span>m)
                                : </label>
                        </div>
                        <div class="col-lg-2">
                            <input id="real-dist" type="number" placeholder="100">
                        </div>

                        <div class="col-lg-2 centered">
                            <button id="update_scale">Update scale</button>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col-lg-2 col-lg-offset-5">
                        <form action="{% url 'imageProcessing:processing_page' image_id %}">
                            {#                                      <form action = "">#}
                            {% csrf_token %}
                            {#                                    <input type="hidden" name="image_id" value="{{ image_id }}"/>#}
                            <button type="submit" class="btn btn-success btn-large">
                                <span class="glyphicon glyphicon-arrow-right"></span> Go to processing page
                            </button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script src="{% static 'js/update_image_scale.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script>initScaleCanvas();</script>
{% endblock %}
