{% extends 'base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/processing_page.css' %}">
{% endblock %}

{% block title %}Crystal Processing {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="header">
            <h2 class="text-center">Crystal Processing</h2>
            <input hidden id="mask_id" value= {{ mask_id }}>
        </div>


    <div class="">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5">
                <h3 class = "text-center">Original Image</h3>
                <img id="image" class="img-fluid centered"
                     src="data:image/jpeg;charset=utf-8;base64,{{ ori_img_data }}">
            </div>

            <div class="col-lg-5 col-lg-offset-1">
                <h3 class = "text-center">Crystal Image</h3>
                <img id="image" class="img-fluid centered"
                     src="data:image/jpeg;charset=utf-8;base64,{{ crys_img_data }}">
            </div>
        </div>

        <div class="row" style="margin-top: 100px;">
            <h3 class="text-center">Result table </h3>

{#                        {% url 'crystalManagement:regenerate-conf-table' mask_id %}#}
            <div class = "row text-center">
                        <form method="post" action="{% url 'crystalManagement:regenerate-conf-table' %}">
                                        <h3>Setting: </h3>

  Co-similarity:<br>
  <input type="int" name="cosim"><br>
 Overall-similarity:<br>
  <input type="int" name="oversim"><br>


                             <button class="btn btn-primary" id="btn_table_1">Submit</button>
                        </form>
</div>
            <div class="table-responsive">
                <table class="table text-center " style="overflow: auto; ">
                    {#                column name#}

                    <tr>
                        <th class = "text-center">Crystal name</th>
                        <th class = "text-center">Num of pairs</th>
                        <th class = "text-center">Similarity with overall image</th>
                        <th class = "text-center">Confusion graph</th>
{#                        {% for hist_obj in hist_objs %}#}
{#                            <td>#}
{##}
{#                            </td>#}
{#                        {% endfor %}#}
                    </tr>

                    {% for hist_obj in hist_objs %}
                        <tr>
                            <td>
                                <button type="button"
                                    class="btn_modal_show_individual_crystal"
                                    data-toggle="modal" data-target="#showCrystal"
                                    value={{ hist_obj.crystal.id }}>
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                            {{ hist_obj.crystal.name}}
                            </button>
                            </td>
                            <td>{{ hist_obj.num_pair }}</td>
                            <td>{{ hist_obj.overall_sim }}</td>
{#                            {% for similarity in hist_obj.similarities %}#}
{#                                <td>{{ similarity.similarity_percentage }} %, {{ similarity.is_same_type }}</td>#}
{#                                <td>#}
{#                                    <div id="confusion-graph-i{{ forloop.counter0 }}"></div></td>#}
                                <td>
                                <button type="button"
                                    class="btn_modal_show_conf_graph"
                                    data-toggle="modal" data-target="#showConfGraph"
                                    value={{ forloop.counter0 }}>
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                            Show confusion graph
                            </button>
                            </td>
{#                            {% endfor %}#}
                        </tr>
                    {% endfor %}
                </table>

               <div id="showCrystal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="modal-crystal-name"></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <img id="modal-crystal-img" class="centered"
                                                                 width="100%"
                                                                 src="">
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

            </div>

        <div id="showConfGraph" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="modal-crystal-name"></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div id="confusion-graph"></div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascript %}
    {% load staticfiles %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/library_page.js' %}"></script>
    <script src="{% static 'js/crystal_processing.js' %}"></script>

{% endblock %}