{% extends "base.html" %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/library_page.css' %}">
{% endblock %}

{% block title %}My library{% endblock %}
{% block body %}
    {% if images %}
        {% for image in images %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">


                                <a href="#">
                                    <img src='{{ image.thumbnail.url }}' class='img-responsive' width="100%    ">
                                </a>

                                <h4><strong>File name: </strong>{{ image.filename }}</h4>
                                <h5><strong>Date uploaded: </strong> {{ image.uploaded_at }}</h5>
                                {%  if image.dist_per_pixel %}
                                 <h5><strong>Real distance (per pixel): </strong> {{image.dist_per_pixel }} (<span>&#181;</span>m)</h5>

                                {% else %}
                                     <h5 class="text-danger"><strong>Image scale has not been set! </strong></h5>
                                     <form action="{% url 'uploadImage:update-image-scale-page' image.id %}"
                                                          method="get" style="display: inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger btn-xs">
                                                            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
                                                            Set image scale
                                                        </button>
                                                    </form>
                                {% endif  %}

                            </div>
                        </div>


                    </div>

                    <div class="col-sm-8 col-md-9">
                        {#                        <ul class="nav nav-pills" style="margin-bottom: 10px;">#}
                        {#                            <li role="presentation" class="active"><a href="#">View#}
                        {#                                All</a></li>#}
                        {#                            <li role="presentation"><a href="#">Add New Song</a>#}
                        {#                            </li>#}
                        {#                        </ul>#}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="text-center">All crystals </h3>

                                {% if image.crystalmask_set.all %}
                                    <table class="table text-center">

                                        <thead>
                                        <tr>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Date</th>
                                            <th colspan="3" class="text-center">Crystal section</th>
                                            <th colspan="1" class="text-center">Histogram section</th>
                                            <th class="text-center">Delete data</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for mask in image.crystalmask_set.all %}

                                            <tr>
                                                <td>{{ mask.name }}</td>
                                                <td>{{ mask.uploaded_at }}</td>
                                                <td>

                                                    <button type="button"
                                                            class="btn_modal_show_crystal btn btn-primary btn-xs"
                                                            data-toggle="modal" data-target="#showCrystal"
                                                            value={{ mask.id }}>
                                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Show
                                                        crystal
                                                    </button>
                                                </td>

                                                <td>
                                                    {#                                                form for download the crystals#}
                                                    <form action="{% url 'crystalManagement:download-crystal' mask.id %}"
                                                          method="post" style="display: inline;">
                                                        {% csrf_token %}
                                                        <button type="submit"
                                                                class="btn_download_crystal btn btn-success btn-xs"
                                                                value={{ mask.id }}>
                                                            <input type="hidden" name="mask_id" value="{{ mask.id }}"/>

                                                            <span class="glyphicon glyphicon-download"></span>&nbsp;
                                                            Download crystals
                                                        </button>
                                                    </form>
                                                </td>
  <td>

                                                    <form action="{% url 'crystalManagement:crystal-detail-page' mask.id %}" class="form_process_crystal"
                                                          method="get" style="display: inline;">
                                                        {% csrf_token %}
                                                        <button type="submit"
                                                                class="btn_process_crystal btn btn-success btn-xs"
                                                                value={{ mask.id }}>
{#                                                            <input type="hidden" name="mask_id" value="{{ mask.id }}"/>#}

                                                            <span class="glyphicon glyphicon-download"></span>&nbsp;
                                                            Show crystal details
                                                        </button>
                                                    </form>
                                                </td>

                                                <td>

                                                    <button type="button"
                                                            class="btn_modal_show_histogram btn btn-primary btn-xs"
                                                            data-toggle="modal" data-target="#showHistogram"
                                                            value={{ mask.id }} id ="btn_histogram" >
                                                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Show
                                                        histogram
                                                    </button>
                                                </td>




                                                <td>
                                                    <form action="{% url 'crystalManagement:delete-mask' mask.id %}"
                                                          method="post" style="display: inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="mask_id" value="{{ mask.id }}"/>
                                                        <button type="submit" class="btn btn-danger btn-xs">
                                                            <span class="glyphicon glyphicon-remove"></span>&nbsp;
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>


                                        {% endfor %}


                                        </tbody>
                                    </table>
                                    <div id="showCrystal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h4 class="modal-title" id="modal-crystal-name"></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <img id="modal-crystal-img" class="centered"
                                                                 width="100%"
                                                                 src="">
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                {% else %}
                                    <h4 class="text-center">No data found</h4>

                                {% endif %}
                                <!-- Modal -->
                                {#                                    Histogram #}
    <div id="showHistogram" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                    <h4 class="modal-title" id="modal-crystal-name"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="histogram"></div>

                            {#                                <div id="truncated-histogram"></div>#}
                            {#                                <div id="composition-histogram"></div>#}

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}

{% endblock %}

{% block javascript %}
    {% load staticfiles %}
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/library_page.js' %}"></script>
    <script src="{% static 'js/crystal_processing.js' %}"></script>


{% endblock %}