{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing Page</title>
</head>
<body>
{% block content %}
    <h1>Image Processing Demo</h1>

    <h2>Image File Name: {{ image.imageName }}</h2>

    <p id="imagelink">Image Link: {{ image.imageData.url }}</p>
    <!--
        <img src="{{ image.imageLink }}">
        -->
    <img id="image" src="{{ image.imageData.url }}" height="400">
    {#         <img id= "image" src="/media/1947-1_plg6.png" height="400">}#}
    <br><br>
    <button id="btn_masking" type="button" onclick="alert('Confirm to do masking?')">
        Masking
    </button>

    <button id="btn_dilating" type="button" onclick="alert('Confirm to do dilating?')">
        Dilating
    </button>

    <button id="btn_pengzhang" type="button" onclick="alert('Confirm to do pengzhang?')">
        Pengzhang
    </button>

    <button id="btn_windowing" type="button" onclick="alert('Confirm to do windowing?')">
        Windowing
    </button>

{#    <button id="btn_ostu" type="button" onclick="alert('Confirm to do ostu?')">#}
{#        Ostu#}
{#    </button>#}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!--
    <script src="{% static 'js/app.js' %}"></script>
    -->

{% block javascript %}
    <script>
        $("#btn_masking").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/imageProcessing/masking",

                success: function (data) {
                    console.log('masking data', data);
                    document.getElementById("image").src = data + '?' + new Date().getTime();
                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#btn_dilating").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/imageProcessing/dilating",

                success: function (data) {
                    console.log("dilate data", data);
                    document.getElementById("image").src = data + '?' + new Date().getTime();

                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#btn_pengzhang").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/imageProcessing/pengzhang",

                success: function (data) {
                    console.log('pengzhang data', data);
                    document.getElementById("image").src = data + '?' + new Date().getTime();
                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

     <script>
        $("#btn_windowing").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/imageProcessing/windowing",

                success: function (data) {
                    console.log('windowing data', data);
                    document.getElementById("image").src = data + '?' + new Date().getTime();
                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

{#     <script>#}
{#        $("#btn_ostu").click(function (e) {#}
{#            e.preventDefault();#}
{#            $.ajax({#}
{#                type: "GET",#}
{#                url: "/imageProcessing/ostu",#}
{##}
{#                success: function (data) {#}
{#                    console.log('ostu data', data);#}
{#                    document.getElementById("image").src = data + '?' + new Date().getTime();#}
{#                },#}
{#                error: function (data) {#}
{#                    alert('error');#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}

{% endblock %}


{##}
{#        <form action = "/imageProcessing/your_name/" method ="post">#}
{##}
{#            <label for="your_name">Your name: </label>#}
{#            <input id ="your_name" type ="text"#}
{#                   name = "your_name" value = "Long">#}
{#            <input type = "submit" value = "OK">#}
{#            <label for="age">Age: </label>#}
{#            <input id = "age" type = "number"#}
{#                   name = "age" value = "18">#}
{#            <input type ="submit" value = "OK">#}
{##}
{#        </form>#}

</body>