{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing Page</title>
</head>
<body>
    {% block content %}
        <h1>Image Processing Demo</h1>

        <h2>Image File Name: {{ image.imageName }}</h2>

        <p id="imagelink">Image Link: {{ image.imageData.url }}</p>
        <!--
        <img src="{{ image.imageLink }}">
        -->
        <img id= "image" src="{{ image.imageData.url }}" height="400">
        <br><br>
        <button id="btn_masking" type="button" onclick = "alert('Confirm to do masking?')">
        Masking
        </button>
        <br><br>

        <button id="btn_dilating" type="button" onclick = "alert('Confirm to do dilating?')">
        Dilating
        </button>


    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!--
    <script src="{% static 'js/app.js' %}"></script>
    -->

    {% block javascript %}
        <script>
             $("#btn_masking").click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: "/imageProcessing/masking",
        //data: {
        //    id: $(this).val(), // < note use of 'this' here
        //    access_token: $("#access_token").val()
        //
        success: function(data) {
            document.getElementById("image").src=data;
        },
        error: function(data) {
            alert('error');
        }
    });
});
        </script>

         <script>
             $("#btn_dilating").click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: "/imageProcessing/dilating",
        //data: {
        //    id: $(this).val(), // < note use of 'this' here
        //    access_token: $("#access_token").val()
        //
        success: function(data) {
            document.getElementById("image").src=data;
        },
        error: function(data) {
            alert('error');
        }
    });
});
        </script>


    {% endblock %}
</body>