{% extends "imageProcessing/base.html" %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>Welcome, {{ user.username }}!</h3>
                <h4>Choose an image from my images or <a href="{% url 'imageProcessing:upload' %}">Upload an image</a>
                </h4>
                {#                    {%  include "imageProcessing/upload_image.html" %}#}


                {% if images %}
                    <h3 class="text-center">My images</h3>
                    {% for image in images %}
                        <div class="col-sm-4 col-lg-2">
                            <div class="thumbnail">
                                <a href="{% url 'imageProcessing:processing_page' image.id %}">
                                    <img src='{{ image.thumbnail_url }}' class='img-responsive' width="100%">
                                </a>

                                <h5><strong>File name: </strong>{{ image.filename }}</h5>
                                <h5><strong>Date uploaded: </strong> {{ image.uploaded_at }}</h5>
                            </div>
                        </div>

                    {% endfor %}
                    {% else %}
                      <h3 class="text-center">No image found</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}