{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11. 0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>


    <style>
        #image {
            width: 100%;
        }

        .thumbnail {
            width: 100%;
            padding: 10px 0;
        }

        .center {
            margin: 0 auto;
            width: 80%;
        }

        ul {
            padding: 0;
        }

        .picturepanel {

            width: -moz-fit-content;
        {#            height: fit-content;#}{#  width: fit-content;#} max-width: 100%;
        {#  max-height: 50%;#} border: 2px solid silver;
            overflow: auto;
        {#  position: absolute;#}{#            top: 50%;#}

        }

        .picturepanel canvas {
            display: block;
        }

        .toolbar > * {
            margin: 10px auto;
            justify-content: center;
            display: inline-block;
        }

        canvas {
            display: block;
            margin: 50px auto;

        }

        #canvas-wrapper {
            margin-top: 50px;
            position: relative;
        {#              width: 100%;#}
        }

        .panel-heading h4 {
            font-size: 1rem !important;

        }

        .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            padding: 16px;
        }
    </style>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="header">
            <div class="row">
                <h1 style="margin: 20px auto;">Image Processing Demo</h1>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <ul id="hist-thumbnail"></ul>
                        </div>
                        <div class="col-lg-1"></div>

                    </div>
                </div>

                <div class="col-lg-7">
                    {#                       <div> <canvas id="myCanvas"></canvas></div>#}
                    <div id="imageView">

                        <img id="image" class="img-fluid centered"
                             src="data:image/jpeg;charset=utf-8;base64,{{ image_data }}">
                        {#         <img id= "image" src="/media/1947-1_plg6.png" height="400">}#}
                    </div>

                    <div id="canvas-wrapper"></div>

                    <div id="histogram"></div>

                </div>

                <div class="col-lg-3">

                    <div class="form-group row">
                        <div class="col-lg-5">
                            <label class="control-label"> Laplacian</label>
                        </div>
                        <div class="col-lg-5">
                            <button id="btn_laplacian" type="button">Do laplacian</button>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-5">
                            <label class="control-label"> Lower threshold</label>
                        </div>
                        <div class="col-lg-5">
                            <input id="slider-lower-thresh" type="range" min="1" max="255" value="30" step="5">
                        </div>

                        <div class="col-lg-2">
                            <input id="slider-val-lower-thresh" type="text" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-5">
                            <label class="control-label"> Upper threshold</label>
                        </div>
                        <div class="col-lg-5">
                            <input id="slider-upper-thresh" type="range" min="1" max="255" value="80" step="5">
                        </div>

                        <div class="col-lg-2">
                            <input id="slider-val-upper-thresh" type="text" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-lg-5">
                            <label class="control-label"> Kmeans</label>
                        </div>
                        <div class="col-lg-5">
                            <input id="slider-kmeans" type="range" min="1" max="10" value="3" step="1">
                        </div>

                        <div class="col-lg-2">
                            <input id="slider-val-kmeans" type="text" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-lg-5">
                            <label class="control-label"> Label of region to extract: </label>
                        </div>
                        <div class="col-lg-3">
                            <input id="crystal_label" type="number" placeholder="2">
                        </div>
                        <div class="col-lg-1"></div>

                        <div class="col-lg-3 centered">
                            <button id="btn_extract_crystal_mask">Extract</button>
                        </div>
                    </div>
                    {#                     <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#opening">Opening</button>#}
                    <div id="opening" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#opening-collapse-sec">Opening operation</a>
                                </h4>
                            </div>
                            <div id="opening-collapse-sec" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <div class="form-group row ">
                                        <div class="col-lg-5">
                                            <label class="control-label"> Opening kernel size</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input id="slider-opening-kernel" type="range" min="1" max="10" value="3"
                                                   step="1">
                                        </div>

                                        <div class="col-lg-2">
                                            <input id="slider-opening-val-kernel" type="text" placeholder="3" readonly
                                                   style="border:0; color:#f6931f; font-weight:bold;">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-lg-5">
                                            <label class="control-label"> Opening iterations</label>
                                        </div>
                                        <div class="col-lg-5">
                                            <input id="slider-opening-iter" type="range" min="1" max="5" value="1"
                                                   step="1">
                                        </div>

                                        <div class="col-lg-2">
                                            <input id="slider-opening-val-iter" type="text" placeholder="1" readonly
                                                   style="border:0; color:#f6931f; font-weight:bold;">
                                        </div>

                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div id="closing" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#closing-collapse-sec">Closing operation</a>
                                    </h4>
                                </div>
                                <div id="closing-collapse-sec" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                <label class="control-label"> Closing kernel size</label>
                                            </div>
                                            <div class="col-lg-5">
                                                <input id="slider-closing-kernel" type="range" min="1" max="10"
                                                       value="3" step="1">
                                            </div>

                                            <div class="col-lg-2">
                                                <input id="slider-closing-val-kernel" type="text" placeholder="3"
                                                       readonly
                                                       style="border:0; color:#f6931f; font-weight:bold;">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                <label class="control-label"> Closing iterations</label>
                                            </div>
                                            <div class="col-lg-5">
                                                <input id="slider-closing-iter" type="range" min="1" max="5" value="1"
                                                       step="1">
                                            </div>

                                            <div class="col-lg-2">
                                                <input id="slider-closing-val-iter" type="text" placeholder="1" readonly
                                                       style="border:0; color:#f6931f; font-weight:bold;">
                                            </div>

                                        </div>


                                    </ul>
                                </div>
                            </div>

                            <div id="erosion" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#erosion-collapse-sec">Erosion operation</a>
                                        </h4>
                                    </div>
                                    <div id="erosion-collapse-sec" class="panel-collapse collapse">
                                        <ul class="list-group">
                                            <div class="form-group row">
                                                <div class="col-lg-5">
                                                    <label class="control-label"> Erosing kernel size</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input id="slider-erosion-kernel" type="range" min="1" max="10"
                                                           value="3" step="1">
                                                </div>

                                                <div class="col-lg-2">
                                                    <input id="slider-erosion-val-kernel" type="text" placeholder="3"
                                                           readonly
                                                           style="border:0; color:#f6931f; font-weight:bold;">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-lg-5">
                                                    <label class="control-label"> Erosion iterations</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input id="slider-erosion-iter" type="range" min="1" max="5"
                                                           value="1" step="1">
                                                </div>

                                                <div class="col-lg-2">
                                                    <input id="slider-erosion-val-iter" type="text" placeholder="1"
                                                           readonly
                                                           style="border:0; color:#f6931f; font-weight:bold;">
                                                </div>

                                            </div>
                                        </ul>
                                    </div>
                                </div>

                                <div id="dilation" class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#dilation-collapse-sec">Dilation
                                                    operation</a>
                                            </h4>
                                        </div>
                                        <div id="dilation-collapse-sec" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <div class="form-group row">
                                                    <div class="col-lg-5">
                                                        <label class="control-label"> Dilation kernel size</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input id="slider-dilation-kernel" type="range" min="1" max="10"
                                                               value="3" step="1">
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <input id="slider-dilation-val-kernel" type="text"
                                                               placeholder="3" readonly
                                                               style="border:0; color:#f6931f; font-weight:bold;">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-lg-5">
                                                        <label class="control-label"> Dilation iterations</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input id="slider-dilation-iter" type="range" min="1" max="5"
                                                               value="1" step="1">
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <input id="slider-dilation-val-iter" type="text" placeholder="1"
                                                               readonly
                                                               style="border:0; color:#f6931f; font-weight:bold;">
                                                    </div>

                                                </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                <label class="control-label"> All crystals</label>
                                            </div>
                                            <div class="col-lg-5">
                                                <button id="btn_all_crystal" type="button">
                                                    Show crystals
                                                </button>
                                            </div>

                                            <div class="col-lg-2"></div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                <label class="control-label"> Num of top area crystals to
                                                    extract: </label>
                                            </div>
                                            <div class="col-lg-3">
                                                <input id="num_crystal_label" type="number" placeholder="5">
                                            </div>
                                            <div class="col-lg-1"></div>

                                            <div class="col-lg-3 centered">
                                                <button id="btn_extract_top_crystal">Extract</button>
                                            </div>

                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                {#                                   <p><label>Drawing tool: <select id="dtool">#}
                                                {#        <option value="line">Line</option>#}
                                                {#        <option value="rect">Rectangle</option>#}
                                                {#        <option value="pencil">Pencil</option>#}
                                                {#    </select></label></p>#}
                                                <div id="myCanvas-toolbar"></div>
                                                <div id="myCanvas-picturepanel"></div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-5">
                                                <label class="control-label"> Plot histogram </label>
                                            </div>
                                            <div class="col-lg-5">
                                                <button id="btn_histogram" type="button">
                                                    Plot histogram
                                                </button>

                                            </div>

                                            <div class="col-lg-2"></div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-2">
                                                <button id="btn_undo" type="button" class="btn btn-primary">
                                                    Undo
                                                </button>
                                            </div>
                                            <div class="col-lg-2">
                                                <button id="btn_reset" type="button" class="btn btn-primary">
                                                    Reset
                                                </button>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

    </body>
    </html>

{% endblock %}

{#<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>#}
{#<!--#}
{#<script src="{% static 'js/app.js' %}"></script>#}
{#-->#}

{% block javascript %}

    <script>
        function disp_hist_thumbnail(data) {
            var hist_thumbnail_data_arr = data["thumbnail_arr"];
            $('#hist-thumbnail').empty();
            for (i = 0; i < hist_thumbnail_data_arr.length; i++) {
                var thumbnail_id = "thumb_" + i;
                $('#hist-thumbnail').prepend($('<img>', {
                    id: thumbnail_id,
                    class: "img-fluid centered thumbnail",
                    src: "data:image/jpeg;charset=utf-8;base64," + hist_thumbnail_data_arr[i],
                    onclick: "on_click_thumbnail(id)"
                }))
            }
        }

        function plot_histogram(data) {

            var hist_data = [{
                x: data["x"],
                y: data["y"],
                {#                x: [1,2,3],#}
                {#                y: [10,11,12],#}
                type: 'bar'
            }];
            Plotly.newPlot('histogram', hist_data);
        }
    </script>
    <script>
        function on_click_thumbnail(thumbnail_id) {
            console.log("thumbnail id: ", thumbnail_id);
            $.ajax({
                url: "img-from-thumbnail/", // the endpoint
                type: "POST", // http method
                data: {input: thumbnail_id}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });

        }
    </script>


    {#<script>#}
    {#$("#ex5").slider();#}
    {##}
    {#</script>#}
    <script>
        $("#slider-lower-thresh").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-val-lower-thresh").val($("#slider-lower-thresh").val());
            e.preventDefault();
            console.log("value", $('#slider-lower-thresh').val());
            $.ajax({
                url: "lower-thresholding/", // the endpoint
                type: "POST", // http method
                data: {input: $('#slider-lower-thresh').val()}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>
    <script>
        $("#btn_laplacian").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/laplacian",

                success: function (data) {
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                },
                error: function (data) {
                    console.log(data);
                    alert('error');
                }
            });
        });
    </script>


    <script>

        // AJAX for posting
        $("#slider-upper-thresh").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-val-upper-thresh").val($("#slider-upper-thresh").val());
            e.preventDefault();
            console.log("value", $('#slider-upper-thresh').val());
            $.ajax({
                url: "upper-thresholding/", // the endpoint
                type: "POST", // http method
                data: {input: $('#slider-upper-thresh').val()}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#upper_thresh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>
    <script>
        $("#slider-kmeans").click(function (e) {
            $("#slider-val-kmeans").val($("#slider-kmeans").val());
            e.preventDefault();
            $.ajax({
                url: "kmeans/",
                type: "POST", // http method
                data: {input: $("#slider-kmeans").val()}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#slider-kmeans').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#btn_base64").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/base64",
                success: function (data) {
                    var image = document.createElement('img');
                    image.src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    document.querySelector('#imageContainer').innerHTML = image.outerHTML;//where to insert your image
                    {#                    console.log(data);#}
                },
                error: function (data) {
                    console.log(data);
                    alert('error');
                }
            })
        })

    </script>

    <script>
        $("#btn_undo").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/undo",
                success: function (data) {
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                },
                error: function (data) {
                    console.log(data);
                    alert('error');
                }
            })
        })

    </script>
    <script>
        $("#btn_extract_crystal_mask").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "extract-crystal-mask/",
                type: "POST", // http method
                data: {input: $("#crystal_label").val()}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    $('#lower_thesh_input').val(''); // remove the value from the input
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#btn_all_crystal").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "all-crystal/",

                success: function (data) {
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });

    </script>

    <script>
        $("#btn_max_crystal").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "max-crystal/",

                success: function (data) {
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });

    </script>

    <script>
        $("#btn_reset").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/reset",

                success: function (data) {
                    $('#histogram').empty();
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                },
                error: function (data) {
                    console.log(data);
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#btn_histogram").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "/histogram",

                success: function (data) {
                    plot_histogram(data);
                },
                error: function (data) {
                    console.log(data);
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-opening-kernel").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-opening-val-kernel").val($("#slider-opening-kernel").val());
            e.preventDefault();
            console.log("value", $('#slider-opening-kernel').val());
            $.ajax({
                url: "opening/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-opening-kernel').val(),
                    num_of_iter: $('#slider-opening-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-opening-iter").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-opening-val-iter").val($("#slider-opening-iter").val());
            e.preventDefault();
            console.log("value", $('#slider-opening-iter').val());
            $.ajax({
                url: "opening/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-opening-kernel').val(),
                    num_of_iter: $('#slider-opening-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-closing-kernel").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-closing-val-kernel").val($("#slider-closing-kernel").val());
            e.preventDefault();
            console.log("value", $('#slider-closing-kernel').val());
            $.ajax({
                url: "closing/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-closing-kernel').val(),
                    num_of_iter: $('#slider-closing-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-closing-iter").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-closing-val-iter").val($("#slider-closing-iter").val());
            e.preventDefault();
            console.log("value", $('#slider-closing-iter').val());
            $.ajax({
                url: "closing/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-closing-kernel').val(),
                    num_of_iter: $('#slider-closing-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });

    </script>

    <script>
        $("#slider-erosion-kernel").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-erosion-val-kernel").val($("#slider-erosion-kernel").val());
            e.preventDefault();
            console.log("value", $('#slider-erosion-kernel').val());
            $.ajax({
                url: "erosion/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-erosion-kernel').val(),
                    num_of_iter: $('#slider-erosion-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-erosion-iter").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-erosion-val-iter").val($("#slider-erosion-iter").val());
            e.preventDefault();
            console.log("value", $('#slider-erosion-iter').val());
            $.ajax({
                url: "erosion/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-erosion-kernel').val(),
                    num_of_iter: $('#slider-erosion-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });

    </script>


    <script>
        $("#slider-dilation-kernel").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-dilation-val-kernel").val($("#slider-dilation-kernel").val());
            e.preventDefault();
            console.log("value", $('#slider-dilation-kernel').val());
            $.ajax({
                url: "dilation/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-dilation-kernel').val(),
                    num_of_iter: $('#slider-dilation-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        $("#slider-dilation-iter").change(function (e) {
            {#            alert($("#slider").val());#}
            $("#slider-dilation-val-iter").val($("#slider-dilation-iter").val());
            e.preventDefault();
            console.log("value", $('#slider-dilation-iter').val());
            $.ajax({
                url: "closing/", // the endpoint
                type: "POST", // http method
                data: {
                    kernel_size: $('#slider-dilation-kernel').val(),
                    num_of_iter: $('#slider-dilation-iter').val()
                }, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });

    </script>

    <script>
        $("#btn_extract_top_crystal").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "top-crystal/",
                type: "POST", // http method
                data: {input: $("#num_crystal_label").val()}, // data sent with the post request

                // handle a successful response
                success: function (data) {
                    {#                    $('#lower_thesh_input').val(''); // remove the value from the input#}
                    document.getElementById("image").src = "data:image/jpeg;charset=utf-8;base64," + data["image_data"];
                    disp_hist_thumbnail(data);
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>

    <script>
        /**
         * Created by long on 10/11/17.
         */
        function elt(name, attributes) {
            var node = document.createElement(name);
            {#            var node = document.getElementById(name);#}
            if (attributes) {
                for (var attr in attributes)
                    if (attributes.hasOwnProperty(attr))
                        node.setAttribute(attr, attributes[attr]);
            }
            for (var i = 2; i < arguments.length; i++) {
                var child = arguments[i];
                if (typeof child == "string")
                    child = document.createTextNode(child);
                node.appendChild(child);
            }
            return node;
        }

        var controls = Object.create(null);

        function createPaint(parent) {
            var canvas = elt("canvas", {width: 500, height: 400});
            {#    var canvas = document.getElementById("myCanvas");#}
            {#    var canvas = elt("myCanvas", {width: 500, height: 300});#}
            var cx = canvas.getContext("2d");
            var image = document.getElementById("image");
            var color = cx.fillStyle, size = cx.lineWidth;
            {#    cx.canvas.width = image.width;#}
            {#    cx.canvas.height = image.height;#}
            cx.drawImage(image, 0, 0);
            cx.fillStyle = color;
            cx.strokeStyle = color;
            cx.lineWidth = size;
            var toolbar = elt("div", {class: "toolbar"});
            for (var name in controls)
                toolbar.appendChild(controls[name](cx));

            var panel = elt("div", {class: "picturepanel"}, canvas);
            parent.appendChild(elt("div", null, panel, toolbar));
        }

        var tools = Object.create(null);

        controls.tool = function (cx) {
            var select = elt("select");
            for (var name in tools)
                select.appendChild(elt("option", null, name));

            cx.canvas.addEventListener("mousedown", function (event) {
                if (event.which == 1) {
                    tools[select.value](event, cx);
                    event.preventDefault();
                }
            });

            return elt("span", null, "Tool: ", select);
        };

        function relativePos(event, element) {
            var rect = element.getBoundingClientRect();
            return {
                x: Math.floor(event.clientX - rect.left),
                y: Math.floor(event.clientY - rect.top)
            };
        }

        function trackDrag(onMove, onEnd) {
            function end(event) {
                removeEventListener("mousemove", onMove);
                removeEventListener("mouseup", end);
                if (onEnd)
                    onEnd(event);
            }

            addEventListener("mousemove", onMove);
            addEventListener("mouseup", end);
        }

        tools.Line = function (event, cx, onEnd) {
            cx.lineCap = "round";

            var pos = relativePos(event, cx.canvas);
            trackDrag(function (event) {
                cx.beginPath();
                cx.moveTo(pos.x, pos.y);
                pos = relativePos(event, cx.canvas);
                cx.lineTo(pos.x, pos.y);
                cx.stroke();
            }, onEnd);
        };

        tools.Erase = function (event, cx) {
            cx.globalCompositeOperation = "destination-out";
            tools.Line(event, cx, function () {
                cx.globalCompositeOperation = "source-over";
            });
        };

        controls.color = function (cx) {
            var input = elt("input", {type: "color"});
            input.addEventListener("change", function () {
                cx.fillStyle = input.value;
                cx.strokeStyle = input.value;
            });
            return elt("span", null, "Color: ", input);
        };

        controls.brushSize = function (cx) {
            var select = elt("select");
            var sizes = [1, 2, 3, 5, 8, 12, 25, 35, 50, 75, 100];
            sizes.forEach(function (size) {
                select.appendChild(elt("option", {value: size},
                    size + " pixels"));
            });
            select.addEventListener("change", function () {
                cx.lineWidth = select.value;
            });
            return elt("span", null, "Brush size: ", select);
        };


        function updateImageChange(cx) {
            var image = document.getElementById("image");

            var color = cx.fillStyle, size = cx.lineWidth;
            {#    cx.canvas.width = image.width;#}
            {#    cx.canvas.height = image.height;#}
            cx.drawImage(image, 0, 0);
            cx.fillStyle = color;
            cx.strokeStyle = color;
            cx.lineWidth = size;

        }

        controls.updateImage = function (cx) {

            var form = elt("form", null,
                elt("button", {type: "submit"}, "Load image changes"));
            form.addEventListener("submit", function (event) {
                event.preventDefault();
                updateImageChange(cx);
            });
            return form;
        };


        function randomPointInRadius(radius) {
            for (; ;) {
                var x = Math.random() * 2 - 1;
                var y = Math.random() * 2 - 1;
                if (x * x + y * y <= 1) {
                    return {x: x * radius, y: y * radius};
                }
            }
        }


    </script>
    <script>createPaint(document.getElementById('canvas-wrapper'));</script>
{% endblock %}
